.container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.Main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Hero {
  position: relative;
  padding-top: 128px;
}
.max-width {
  z-index: 1;
  align-items: stretch;
}
.content-container {
  flex: 1;
  display: flex;
  max-width: 45%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.text {
  margin-bottom: var(--dl-space-space-unit);
}
.text02 {
  color: var(--dl-color-scheme-pink);
}
.text05 {
  font-style: normal;
  font-weight: 500;
  margin-bottom: 42px;
}
.btns-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
.primary {
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.video-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.video {
  flex: 1;
  width: 100%;
  filter: grayscale();
  max-width: 635px;
  min-height: 635px;
  object-fit: cover;
}
.Sponsors {
  flex: 0 0 auto;
  display: flex;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: rgba(144, 149, 167, 0.1);
  border-width: 0px;
  flex-direction: column;
  border-bottom-width: 1px;
}
.max-width1 {
  flex-direction: column;
}
.text08 {
  color: var(--dl-color-scheme-darkgray);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
  letter-spacing: 0.25em;
}
.container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.image {
  height: 80px;
  object-fit: cover;
}
.image1 {
  height: 80px;
  object-fit: cover;
}
.image2 {
  height: 80px;
  object-fit: cover;
}
.image3 {
  height: 80px;
  object-fit: cover;
}
.image4 {
  height: 80px;
  object-fit: cover;
}
.image5 {
  height: 80px;
  object-fit: cover;
}
.Speakers {
  display: flex;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.max-width2 {
  flex-direction: column;
}
.heading-container {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.text11 {
  color: var(--dl-color-scheme-darkgray);
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.text12 {
  text-align: center;
}
.text14 {
  text-align: center;
}
.speakers-container {
  width: 100%;
  display: grid;
  grid-row-gap: var(--dl-space-space-fourunits);
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media(max-width: 991px) {
  .max-width {
    flex-direction: column;
  }
  .content-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .video {
    max-width: 100%;
    min-height: 500px;
  }
  .speakers-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .text {
    font-size: 48px;
  }
  .speakers-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 479px) {
  .container1 {
    justify-content: center;
  }
  .speakers-container {
    grid-template-columns: 1fr;
  }
}
